<h1 class="header">Idas Laboration</h1>
<nav class="navbar"> 
    <a class="navbtn" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home </a>
    <a class="navbtn" routerLink="/what-is-angular" routerLinkActive="active"> Angular </a>
    <a class="navbtn" routerLink="what-is-spa" routerLinkActive="active"> SPA </a>
    <a class="navbtn" routerLink="angular-architecture" routerLinkActive="active"> Angular architecture </a>
    <a class="navbtn" routerLink="what-is-typescript" routerLinkActive="active"> TypeScript </a>
    <a class="navbtn" routerLink="differences-spa-vs-traditional" routerLinkActive="active"> Differences </a>
</nav>
