<h1 class="header">Idas Laboration</h1>
<nav class="navbar"> 
    <a class="navbtn" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home </a>
    <a class="navbtn" routerLink="/whatIsAngular" routerLinkActive="active"> Angular </a>
    <a class="navbtn" routerLink="whatIsSpa" routerLinkActive="active"> SPA </a>
    <a class="navbtn" routerLink="angularArchitecture" routerLinkActive="active"> Angular architecture </a>
    <a class="navbtn" routerLink="whatIsTypescript" routerLinkActive="active"> TypeScript </a>
    <a class="navbtn" routerLink="differencesSPATraditional" routerLinkActive="active"> Differences </a>
</nav>
