button {
    margin-left: 1rem;
    
    background-color: #46629c;
    color: white; 
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
}

button:hover {
    background-color: #25427a;
}