<h2>Välkommen!</h2>
<hr> 
<article> 
   
    <img src="../../assets/img/idakarlssonimg.jpg" alt="Me looking buissiness like.">
    <div>
        <h3> Det är jag som är Ida</h3>
        <p> 32 år gammal blivande frontendutvecklare, före detta projektledare inom byggbranschen.
            Jag bor i Växjö med min sambo Fredrik och våra två katter Hades och Hannibal.
            <br>
            <br>
            På fritiden tycker jag om att spela med mina vänner. Då blir det allt från tv-spel till rollspel.
            För att hålla kroppen i form yogar jag och är också gärna ute och jagar geocacher i något naturresarvat
            någonstans.
        </p>
    
    </div>
    
</article>


