.content-wrapper {
    display: flex;
    align-items: center;
}

.article-wrapper {
    flex:4;
}

.form-wrapper {
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper>div {
    width: 70%; 
}



