.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper>div {
    width: 40%; 
}

button {    
    background-color: #46629c;
    color: white; 
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
}

button:hover {
    background-color: #25427a;
}

article {
    width: 80%;
}