<h2>Välkommen!</h2>
<hr> 

<div class="content-wrapper">
    <div class="article-wrapper">
        <article>
            <img src="../../assets/img/idakarlssonimg.jpg" alt="Me looking buissiness like.">
            <div class="article">
                <h3> {{ this.question.question }} </h3>
                <p> {{ this.question.answer }} </p>
                
            <app-edit [id]=1></app-edit>
            </div>
            
        
        </article>
       

    </div>

    <div class="form-wrapper">
        <div>
            <button routerLink="kontakt-form">Kontakta mig</button>
            <router-outlet> </router-outlet>
        </div>
    </div>
</div>






