*{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: rgb(47, 48, 79);
}

article {
    margin: 2rem;
    display:flex;
    align-items: center;
}
h2 {
    margin-left: 1rem;
}
img {
    width: 300px;
}

h3, p {
    padding: 1rem;
}

button {    
    background-color: #46629c;
    color: white; 
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
}

button:hover {
    background-color: #25427a;
}