<article>
    <div>
        <h3>Redogör för vad TypeScript är och dess syfte</h3>
        <p>
            TypeScript är en utökad variant av Javascripts programmeringsspråk
            med mer funktionalitet så som klasser och typer. Det ger bland annat
            den som kodar möjligheten att hårdtypa sina variabler. Detta är en
            fördel för då ser man problemen direkt i utvecklingsmiljön när
            kompileringen från TypeScript till Javascript sker, det blir helt
            enkelt ett säkrare sätt att koda.
        </p>
    </div>


</article>