<article>
   <div>
      <h3>Förklara skillnaden mellan att utveckla en webbapplikation som en single page applikation med Angular eller
         som en "traditionell" webbapplikation</h3>
      <p>
         Skillnaden med att utveckla en applikation i ett ramverk som angular är att jag som utvecklare har flera färdiga
         verktyg som jag kan använda mig av som sedan transformeras till javascriptkod som websidan kan läsa. Jag får helt
         enkelt hjälp med att bygga min js-kod av inbyggd funktionalitet i ramverket baserat på ts-kod.
         <br>
         <br>
         Vill jag till exempel skapa en component hjälper Angular mig med att skapa filer som komponenten behöver samt lägga
         till importer på rätt ställe i modulen. Det är mycket som sker bakom kulisserna som Angular hjälper till med och som
         jag inte behöver bry mig om.<br>
         Det är lättare för mig att snabbt koppla ihop användarinput med funktioner och få en fungerade produkt. Jag behöver
         inte skapa alla komponenter, alla metoder och alla funktioner från grunden.
         <br>
         <br>
         Skapar jag en webbsida på ett traditionellt sätt har jag tex flera olika html-filer där data renderas ut. Dessa är i
         sin tur kopplade till olika javascript-filer där jag endast har tillgång till de verktyg som finns i javascript.
         Resten behöver jag bygga ihop själv.
      </p>
   </div>


</article>
