<article>
    <div>
        <h3>Beskriv de fundamentala delarna i Angulars arkitektur</h3>
        <p>
            Angular bygger på MVC-arkitektur dvs Model, View och Controller.
            I Angular är Model den delen av koden som hämtar dynamisk data till HTML-sidorna.
            View är HTML-sidorna, som gör om datan i model till något läsbart för användaren. Controller reagerar på tex
            användarinteraktion och framkallar ändringar i model och view.
        </p>
    </div>


</article>
